body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;  
}
header,main{
    margin:50px 140px 0px;   
}
.section-1{
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 16px;
    background-color: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
} 
.banner-greeting{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-top: 177px;
    margin-bottom: 0px;
    
    
    
}
.banner-title{
    color:#FFF;
    font-family: Merriweather;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0px;
    padding: 0px 344px 177px;
    /* padding-bottom: 177px; */
    
    
}

/* Section-2 start */
.section-2{
    margin: 120px auto;
    text-align: center;
}
img{
    align-items: center;
}
.header-2{
         color: #F00;
        font-family: Inter;
        font-size: 88px;
        font-weight: 700; 
        margin-bottom: 0px;
}
.description-2{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;

}
.title-2{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 48px;

}

/* .section-3 start */


.section-3{
    margin-top: 0px;
    margin-bottom: 120px;
    background-image:url('images/Vectorrr.png');
    
    /* background-color: blueviolet; */
    background-repeat: no-repeat;
    background-size: cover;
    background-color:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    justify-content: space-between;
}


.section-3 .header-3{
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-right: 150px;
    letter-spacing: 7.04px;
}
.section-3 .description-3{
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-right: 40px;
    margin-bottom: 48px;
}

.sec-div-2{
    /* background-color: #070211; */
    padding-top: 67px;
    padding-right: 138px;
    padding-bottom: 67px;
}

.sec-div-1{
    /* background-color: #0a8a1f; */
}

.section-3 .text-3{
    padding-top: 126px;
    padding-left: 126px;

}
.btn-join{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

    margin-top: 0px;
    margin-left: 158px;
    margin-bottom: 142px;
    margin: 0px auto 142px 158px;
    background: none;
    border: 0px;
}






/* Main section start here */
.main-text-1 legend{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-left: 0px;

}
.main-section-1 .main-header-1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 0px;
}
.main-section-1 .main-description-1{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 48px;
    max-width: 60%;
}
.main-container-1 .container-element{
    width:424px;
    height: 450px;
    border-radius: 16px;
    margin:0px 24px 24px 0px;
    

    
}
.main-container-1{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}



/* subcribe start here */
    .subscriber{
            border-radius: 16px;
            background: #FFF2F2;
            /* margin-bottom: 400px; */
            
            }

::placeholder{
    color: rgba(7, 2, 17, 0.30);

    /* text-align: center; */
    padding-left:30px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;


    }  
    .sub-box input{
        background: #FFF;
        width: 648px;
        height: 72px;
        /* flex-shrink: 0; */
        border-radius: 50px 0px 0px 50px;
        margin-right: 0px;

    }
    .sub-box button{
        background: #F00;
        width: 210px;
        height: 72px;
        border-radius: 0px 50px 50px 0px;
        margin-left: 0px;
        border: none;

    }
    .sub-box p{
        color: #FFF;

        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
    }
    .sub-icon .sub-icon-img{
        margin-top: 80px;
        align-items: center;
    }
    .sub-header{
        color: #070211;
        text-align: center;
        font-family: Merriweather;
        font-size: 48px;
        font-weight: 900;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .sub-description{
        color: rgba(7, 2, 17, 0.60);
        
        /* max-width: 70%; */
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        margin-top: 22px;
        margin-bottom: 48px;
        padding: 0px 212px;
        text-align: center;

    }
    .sub-btn input{
        margin-bottom: 80px;
        border: none;
    }

    footer{
        padding: 120px 140px;
        background: #070211;
    }

    .foot-text{
        width: 375px;
    }
    footer p{
        color: #FFF;

        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
    }
.footer-section-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.foot-icon-row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}                               
.foot-icon-row-1 p{ 
    margin-left: 16px;
    /* margin-bottom: 0; */
}
.footer-section-2{
    text-align: center;
    margin: 48px;
}
.footer-section-2 img{
    margin-right: 24px;
}

#row-1{
    margin-bottom:0px;

}

.footer-section-3{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
